@using Newtonsoft.Json
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["pieCHart"] = null;
    ViewData["barCHartData"] = 1;//Roep C# method en parse die data in die js
    var  respnse = JsonConvert.SerializeObject(ViewBag.response);

    var heartLabels = JsonConvert.SerializeObject(ViewBag.heartLabels);
    var heartStats = JsonConvert.SerializeObject(ViewBag.heartStats);

   

    var strokeData = JsonConvert.SerializeObject(ViewBag.strokeData);
    var strokeLabels = JsonConvert.SerializeObject(ViewBag.strokeLabels);


    var heartFailQty =ViewBag.heartFailQty;
    var strokeQty = ViewBag.strokeQty;



}
@section usage {
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/Chart.bundle.min.js"></script>
    <script type="text/javascript">



        document.addEventListener('DOMContentLoaded', (event) => {
            //console.log(JSON.parse('@Html.Raw(heartFailQty)');


            var barCHart = document.getElementById('barChart');
            var bartestChart = new Chart(barCHart, {
                type: 'polarArea',
                data: {
                    labels: JSON.parse('@Html.Raw(heartLabels)'),
                    datasets: [{
                        label: 'Github Stars',
                        data: JSON.parse('@Html.Raw(heartStats)'),
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 154, 12)',
                            'rgb(255, 205, 160)',
                            'rgb(255, 205, 86)',

                        ],
                        hoverOffset: 4
                    }]
                },
                responsive: true

            })

            var pieCHart = document.getElementById('pieChart');

            var bartestChart = new Chart(pieCHart, {
                type: 'doughnut',
                data: {
                    labels:JSON.parse('@Html.Raw(strokeLabels)'),

                    datasets: [{
                        label: 'My First Dataset',
                        data: JSON.parse('@Html.Raw(strokeData)'),
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                    }]
                },
                responsive: true
            })

        });

    </script>

}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   

</head>
<body>

    <div class="container-fluid">
        <div class="row ">
            <!-- Sidear -->

            
            <main class="col-md-12 ml-sm-auto col-lg-12  padding-top">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <canvas id="pieChart" width="600" height="800"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <canvas id="barChart" width="600" height="800"></canvas>
                        </div>
                    </div>
                </div>
                <hr>
                <h3>Heart Failure Latest Patients</h3>
                <hr>
                <div class="table-responsive">
                    <table class="table table-light table-striped ">
                        <thead>
                            <tr>
                                <th scope="col">Row Number</th>
                                <th scope="col">Id</th>
                                <th scope="col">Age</th>
                                <th scope="col">Sex</th>
                                <th scope="col">ChestPainType</th>
                                <th scope="col">StSlope</th>
                                <th scope="col">RestingBpS</th>
                                <th scope="col">Cholesterol</th>
                                <th scope="col">FastingBloodSugar</th>
                                <th scope="col">RestingEcg</th>
                                <th scope="col">MaxHeartRate</th>
                                <th scope="col">ExerciseAngina</th>
                                <th scope="col">OldPeak</th>

                            </tr>
                        </thead>
                        <tbody>

                            @for (var i = 0; i < heartFailQty.Length; i++)
                            {
                                <tr>
                                    <th scope="row">@i</th>
                                    <td>@heartFailQty[@i].Id</td>
                                    <td>@heartFailQty[@i].Age</td>
                                    <td>@heartFailQty[@i].Sex</td>
                                    <td>@heartFailQty[@i].ChestPainType</td>
                                    <td>@heartFailQty[@i].StSlope</td>
                                    <td>@heartFailQty[@i].RestingBpS</td>
                                    <td>@heartFailQty[@i].Cholesterol</td>
                                    <td>@heartFailQty[@i].FastingBloodSugar</td>
                                    <td>@heartFailQty[@i].RestingEcg</td>
                                    <td>@heartFailQty[@i].MaxHeartRate</td>
                                    <td>@heartFailQty[@i].ExerciseAngina</td>
                                    <td>@heartFailQty[@i].OldPeak</td>

                                </tr>
                            }




                        </tbody>
                    </table>
                </div>
                <hr />
                <h3>Heart Failure Latest Patients</h3>
                <hr>
                <div class="table-responsive">
                    <table class="table table-light table-striped ">
                        <thead>
                            <tr>
                                <th scope="col">Row Number</th>
                                <th scope="col">Id</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Age</th>
                                <th scope="col">Has Hypertension</th>
                                <th scope="col">Has heart Disease</th>
                                <th scope="col">Ever Married</th>
                                <th scope="col">Work Type</th>
                                <th scope="col">Residence Type</th>
                                <th scope="col">Average Glucose Level</th>
                                <th scope="col">Body Mass Index</th>
                                <th scope="col">Smoking Status</th>
                               

                            </tr>
                        </thead>
                        <tbody>

                            @for (var i = 0; i < strokeQty.Length; i++)
                            {
                            <tr>
                                <th scope="row">@i</th>
                                <td>@strokeQty[@i].Id</td>
                                <td>@strokeQty[@i].Gender</td>
                                <td>@strokeQty[@i].Age</td>
                                <td>@strokeQty[@i].HasHypertension</td>
                                <td>@strokeQty[@i].HasHeartDisease</td>
                                <td>@strokeQty[@i].EverMarried</td>
                                <td>@strokeQty[@i].WorkType</td>
                                <td>@strokeQty[@i].ResidenceType</td>
                                <td>@strokeQty[@i].AverageGlucoseLevel</td>
                                <td>@strokeQty[@i].Bmi</td>
                                <td>@strokeQty[@i].SmokingStatus</td>
                                


                            </tr>
                            }




                        </tbody>
                    </table>
                </div>



            </main>
        </div>
        @* start of card section *@
        

        <div class="row">
            <div class="col-sm-6">
                <div class="card">

                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">

                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>

@*<script>
        /////////
        var myAmounts = [];
        var myCategories = [];
        var myInvoices;

        function showChart() {
            myAmounts = myInvoices.AmountList;
            myCategories = myInvoices.CategoryList;
            console.log(myAmounts);
            console.log(myCategories);
            let popCanvasName = document.getElementById("invChart");
            let barChartName = new Chart(popCanvasName, {
                type: 'bar',
                data: {
                    labels: myCategories,
                    datasets: [{
                        label: 'Invoice data',
                        data: myAmounts,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.6)',
                            'rgba(54, 162, 235, 0.6)',
                            'rgba(255, 206, 86, 0.6)',
                            'rgba(75, 192, 192, 0.6)',
                            'rgba(153, 102, 255, 0.6)',
                        ]
                    }]
                },
                options: {
                    responsive: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
        function getChartData() {
            return fetch('./Index?handler=InvoiceChartData',
                {
                    method: 'get',
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8'
                    }
                })
                .then(function (response) {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw Error('Response Not OK');
                    }
                })
                .then(function (text) {
                    try {
                        return JSON.parse(text);
                    } catch (err) {
                        throw Error('Method Not Found');
                    }
                })
                .then(function (responseJSON) {
                    myInvoices = responseJSON;
                    showChart();
                })
        }
        getChartData();
    </script>*@
