@model ClassificationApp.Models.Diseases.HeartAttackPredictionModel
@using ClassificationApp.Constants

@{
    Layout = "_PredictionFormLayout";
    ViewData["Title"] = "Heart Attack Prediction";
    ViewData["Header"] = "Heart Attack Prediction";

    int MaxAge = 150;
    int ChestPainRange = 4;
    int OldPeakRange = 5;
    int SeveritySlope = 3;
}

@section formScripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        function updateSliderValue(val, sliderID) {
            document.getElementById(sliderID).textContent = val;
        }


        $("#submit-btn").on("click", function (e) {
            e.preventDefault();
            $("form").validate();
            if ($("form").valid()) {
                var t = $("input[name='__RequestVerificationToken']").val();
                $("body").addClass("loading");
                $.ajax({
                    url: "@Url.Action("HeartAttack")",
                    method: "POST",
                    headers:
                    {
                        "RequestVerificationToken": t
                    },
                    data: $("form").serialize(),
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    dataType: "json",
                    success: function (res) {
                        res = JSON.parse(res);
                        if (res.hasOwnProperty('predictionResult')) {
                            $("form").addClass("scale-out-center");
                            $(".prediction-result-header").text('Probability of Heart Failure:\n\n');
                            $(".prediction-result-text").text(res.predictionResult + '%');
                            setTimeout(() => {
                                $("form").css("display", "none");
                                $("form").removeClass("scale-out-center");
                                $("body").addClass("show-prediction-result");
                                $(".prediction-result").css("display", "flex");
                                $(".prediction-result").addClass("scale-in-center");
                                setTimeout(() => {
                                    $(".prediction-result").removeClass("scale-in-center");
                                }, 700)
                            }, 500);
                        } else {
                            alert(res.error);
                        }
                    },
                    error: function (res) {
                        if (res.status === 401) {
                            window.location.href = '/Identity/Account/Login';
                        }
                    },
                    complete: function () {
                        $("body").removeClass("loading");
                        $("form").trigger("reset");
                        ['st-slope-slider', 'chest-pain-slider', 'old-peak-slider'].forEach((id) => {
                            updateSliderValue(0, id);
                        })
                    }
                })
            }
        });
    </script>

}

<form asp-action="Stroke" asp-controller="Prediction">
    <div class="form-group">
        <label asp-for="Sex"></label>
        <select required asp-for="Sex" class="form-control" asp-items="Html.GetEnumSelectList<Sex>()">
            <option selected="selected" value="">Please select...</option>
        </select>
        <span asp-validation-for="Sex" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input required asp-for="Age" class="form-control" min="0" max="@MaxAge" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RestingBPS"></label>
        <input required asp-for="RestingBPS" class="form-control" min="0" max="@int.MaxValue" />
        <span asp-validation-for="RestingBPS" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cholesterol"></label>
        <input required asp-for="Cholesterol" class="form-control" min="0" max="@int.MaxValue" />
        <span asp-validation-for="Cholesterol" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaxHeartRate"></label>
        <input required asp-for="MaxHeartRate" class="form-control" min="0" max="@int.MaxValue" />
        <span asp-validation-for="MaxHeartRate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OldPeakLevel"></label>
        <div class="row">
            <input class="slider" asp-for="OldPeakLevel" type="range" value="0" class="form-control" min="0" max="@OldPeakRange" onchange="updateSliderValue(this.value, 'old-peak-slider')" />
            <strong><span class="slider-value" id="old-peak-slider">0</span></strong>
        </div>
        <span asp-validation-for="SeveritySlope" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ChestPainType"></label>
        <div class="row">
            <input class="slider" asp-for="ChestPainType" type="range" value="0" class="form-control" min="0" max="@ChestPainRange" onchange="updateSliderValue(this.value, 'chest-pain-slider')" />
            <strong><span class="slider-value" id="chest-pain-slider">0</span></strong>
        </div>
        <span asp-validation-for="ChestPainType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SeveritySlope"></label>
        <div class="row">
            <input class="slider" asp-for="SeveritySlope" type="range" value="0" class="form-control" min="0" max="@SeveritySlope" onchange="updateSliderValue(this.value, 'st-slope-slider')" />
            <strong><span class="slider-value" id="st-slope-slider">0</span></strong>
        </div>
        <span asp-validation-for="SeveritySlope" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="checkbox">
                <input asp-for="ExerciseAngia" />
                <label asp-for="ExerciseAngia"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <input asp-for="FastingBloodSugar" />
                <label asp-for="FastingBloodSugar"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <input asp-for="RestingECG" />
                <label asp-for="RestingECG"></label>
            </div>
        </div>
    </div>
    <button id="submit-btn" type="submit" class="btn-form">Submit</button>
</form>

